body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fundo {
    background-image: url("img/fundo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.personagem-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#app {
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.historicoContainer {
    display: flex;
    justify-content: center;
    max-height: 415px;
}


.personagem{
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

}


.personagem:hover {
    transform: translateY(-5px);
}

#heroi{
    background-color: rgba(82, 99, 83, 0.97);
}
#vilao{
    background-color: rgba(82, 99, 83, 0.97);

}
.actions{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:8px;
}

button {
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: mediumpurple;
    color: antiquewhite;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover{
    background-color: lightpink;
    transform: translate(-3px);
}

button:active{
    transform: translateY(0px);
}

.barra-vida{
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(250, 250, 250);
    font-weight: 500;
    border-radius: 5px;
    margin-bottom: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#historico{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    background-color: #a5dde1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: rgb(41, 41, 165);
    overflow-y: auto;
    max-height: 550px; 
    width: 300px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.barra-vida.alta {
    background: linear-gradient(to right, #00b09b, #96c93d);
}

.barra-vida.media {
    color: #717171;
    background: linear-gradient(to right, #95a10b,#fafe9b);
}

.barra-vida.baixa {
    background: linear-gradient(to right, #ff7e5f, #e6975b);
}


.sprite{
    height: 160px;
    background-color: #ddd;
}

#img{
        border: 1px solid #ccc; 
        width: 100%; 
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
}
.h-heroi{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(253, 253, 253);
}
.h-vilao{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
}
.mensagem{
    color: rgb(250, 87, 87);
    text-align:center;
    font-family: 'Bloody', cursive;
    font-size: 20px;
}

.historico-list {
    margin: 0;}

.historico-list li {
    margin-bottom: 5px; 
}

.historico-list li:last-child {
    margin-bottom: 20px; 
}
