body, html{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#fundo{
    background-image: url("img/fundo.jpg");
    background-size: cover; /* faz a imagem cobrir todo o fundo */
    background-position: center; /* centraliza a imagem */
    background-repeat: no-repeat; /* evita a repetição da imagem */
    
}
#app {
    width: 80%;
    margin: 0 auto; /* Centraliza o contêiner na página */
    display: flex;
    gap: 20px; 
    justify-content: space-between;
    align-items: center;
    flex-direction:row;
}

.historicoContainer {
    display: flex; /* Usa flexbox para centralizar o conteúdo */
    justify-content: center; /* Centraliza horizontalmente */
    max-height: 415px; /* Defina a altura máxima desejada para o contêiner */
}

.personagem-container {
    display: flex; /* Alterado para flex para colocar os personagens lado a lado */
    justify-content: space-between; /* Distribui os personagens igualmente nas colunas */
    gap: 20px;
}

.personagem{
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

}


.personagem:hover {
    transform: translateY(-5px);
}

#heroi{
    background-color: rgba(82, 99, 83, 0.97);
}
#vilao{
    background-color: rgba(82, 99, 83, 0.97);

}
.acoes{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:8px;
}

button {
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: mediumpurple;
    color: antiquewhite;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover{
    background-color: lightpink;
    transform: translate(-3px);
}

button:active{
    transform: translateY(0px);
}

.barra-vida{
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(250, 250, 250);
    font-weight: 500;
    border-radius: 5px;
    margin-bottom: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.barra-vida.alta {
    background: linear-gradient(to right, #00b09b, #96c93d);
}

.barra-vida.media {
    color: #717171;
    background: linear-gradient(to right, #e3f52c,#fafe9b);
}

.barra-vida.baixa {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}


.sprite{
    height: 160px;
    background-color: #ddd;
}

#img{
        border: 1px solid #ccc; 
        width: 100%; 
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
}
.h-heroi{
    font-family: Lucida Handwriting, cursive;
    color: rgb(235, 71, 188);
}
.h-vilao{
    font-family: Papyrus, fantasy;
    color: rgb(0,0,0);
}
.mensagem{
    color: rgb(224,2,2,1);
    text-align:center;
    font-family: 'Bloody', cursive;
    font-size: 20px;
}
#historico{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    background-color: #a5dde1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: rgb(41, 41, 165);
    overflow-y: auto; /* Adiciona barra de rolagem vertical quando necessário */
    max-height: 550px; /* Defina a altura máxima desejada para o contêiner */
    width: 300px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.historico-list {
    margin: 0; /* Remove as margens padrão da lista */
}

.historico-list li {
    margin-bottom: 5px; /* Adiciona um espaçamento entre os itens da lista */
}

.historico-list li:last-child {
    margin-bottom: 20px; /* Adiciona uma margem inferior ao último item da lista */
}
